@media (min-width: 992px) and (max-width: 1199px) {
    body {
        background-size: 4.8rem 4.8rem;
        background-position: 0 0, 2.4rem 2.4rem;
    }

    #wrapper {
        max-width: 90%;
    }

    .jumbotron {
        height: 30rem;
    }

    .fixed-pill {
        display: inline-block;
        width: 8rem;
    }

    .nav-pills > li > a {
        line-height: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background-size: 3.2rem 3.2rem;
        background-position: 0 0, 1.6rem 1.6rem;
    }

    #wrapper {
      max-width: 90%;
    }

    .jumbotron {
        height: 23rem;
    }

    .fixed-pill {
        display: inline-block;
        width: 8rem;
    }

    .nav-pills > li > a {
        line-height: 1rem;
    }
}

@media screen and (max-width: 767px) {
    body {
        background-size: 3.2rem 3.2rem;
        background-position: 0 0, 1.6rem 1.6rem;
    }

    #wrapper {
        max-width: 90%;
    }

    .jumbotron {
        height: 17rem;
    }

    .fixed-pill {
        display: inline-block;
        width: 8rem;
    }

    .nav-pills > li > a {
        line-height: 1rem;
    }
}
