@media (min-width: 992px) and (max-width: 1199px) {
    body {
        background-size: 4.8rem 4.8rem;
        background-position: 0 0, 2.4rem 2.4rem;
        background-color: darkgreen;
    }

    #wrapper {
        max-width: 90%;
    }

    .jumbotron {
        padding-top: 2.5rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .container .jumbotron,
    .container-fluid .jumbotron {
        padding-right: 0;
        padding-left: 0;
    }

    .nav-pills > li > a {
        line-height: 2rem;
    }

    .fixed-pill {
        width: 20rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background-size: 3.2rem 3.2rem;
        background-position: 0 0, 1.6rem 1.6rem;
        background-color: darkmagenta;
    }

    #wrapper {
      max-width: 90%;
    }

    .jumbotron {
        padding-top: 2.5rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .container .jumbotron,
    .container-fluid .jumbotron {
        padding-right: 0;
        padding-left: 0;
    }
    .nav-pills > li > a {
        line-height: 2rem;
    }

    .fixed-pill {
        width: 23rem;
    }
}

@media screen and (max-width: 767px) {
    body {
        background-size: 3.2rem 3.2rem;
        background-position: 0 0, 1.6rem 1.6rem;
        background-color: yellow;
    }

    footer {
        margin-bottom: 5rem;
        padding-bottom: 5rem
    }

    #wrapper {
        max-width: 90%;
    }

    .jumbotron {
        padding-top: 2rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .container .jumbotron,
    .container-fluid .jumbotron {
        padding-right: 0;
        padding-left: 0;
    }

    .nav-pills > li > a {
        line-height: 2rem;
    }

    .fixed-pill {
        width: 30rem;
    }
}
