@media screen and (max-width: 1024px) {
    body {
        /********************************************
            Background pattern for all pages.
        *********************************************/
        background-color: #eee;
        background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
        linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
        background-size: 4.8rem 4.8rem;
        background-position: 0 0, 2.4rem 2.4rem;
    }

    #wrapper {
        background-color: magenta;
        max-width: 80%;
    }

    .jumbotron {
        height: 30rem;
    }

    .fixed-pill {
        display: inline-block;
        width: 6.75rem;
    }

    .nav-pills > li > a {
        line-height: 1rem;
    }
}

@media screen and (max-width: 640px) {
    body {
        /********************************************
            Background pattern for all pages.
        *********************************************/
        background-color: #eee;
        background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
        linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
        background-size: 3.2rem 3.2rem;
        background-position: 0 0, 1.6rem 1.6rem;
    }

    #wrapper {
      background-color: orange;
    }

    .jumbotron {
        height: 20rem;
    }
}

@media screen and (max-width: 480px) {
    #wrapper {
        background-color: red;
        max-width: 88%;
    }

    .jumbotron {
        height: 15rem;
    }
}
