<div>
    <h2 class="text-center">About Us</h2>
    <p>
        Jitterbug Coffee Hop has been a staple in Sugarhouse since Bruce Holt opened the doors January 24th, 2002. Bruce has been delighting customers with his espresso-based drinks, home-made sandwiches, nachos, shakes, and smoothies for over 13 years now. The atmosphere is that of a 1950's diner, but with modern taste in beverages and food selections.</p>
    <p>
        Speaking of food, Bruce offers a scrumptious selection of community favorites, and if it's not on the menu, just ask and he'll make it just for you. There are some specialty drinks that are not on the menu: Ask about the Bug <Juice></Juice> Latte and the Firebug (a spicier version of the Jitterbug Latte).
    </p>

    <h3>Current Open Mic's, Meetups, and More...</h3>
    <ul>
        <li>
            Tuesdays from 6-8pm: Knitting group ("Stitch 'n' Bitch").
        </li>
        <li>
            Fourth Saturday from 7-9pm: Open Mic ("When She Speaks I Hear The Revolution").
        </li>
        <li>
            Alternating Sundays from 3-5pm: "Sunday Coffee with a Shuffle" (a regularly scheduled meetup from <a href="http://www.meetup.com/SLC-s-Liberal-minded-Culture-Seekers/" target="_blank">SLC 's Liberal-minded Culture Seekers</a>).
        </li>
    </ul>
    <div>
        <img class="img-responsive" src="assets/ladybug-building.png"
    </div>
</div>
