
<div ng-controller="FoodCtrl">
    <div>
    <h2 class="text-center">Food Menu</h2>
    <p class="text-center"><i>Ask about our vegetarian, vegan, and gluten-free options</i></p>
    </div>
    <div class="row" data-equalizer>
        <div class="small-block-grid=1 large-block-grid=2">
            <div class="table-row-hr">
                <div class="title-food">Pastries</div>
                <div class="col price">Price</div>
                <div class="note"></div>
            </div>
            <div class="table-row" ng-repeat="item in foodmenu" ng-if='item.type == "pastries"'>
                <div class="title-food">{{item.name}}</div>
                <div class="col price">{{item.price | currency}}</div>
                <div class="note" ng-if="item.note != ''">{{item.note}}</div>
            </div>
            <img class="img-responsive menu-image show-for-large-up" src="assets/biscotti.jpg" alt="JitterBug Beverages -- go to menu.">
        </div>
        <div class="small-block-grid=1 large-block-grid=2">
            <div class="table-row-hr">
                <div class="title-food">Breakfast</div>
                <div class="col price">Price</div>
                <div class="note"></div>
            </div>
            <div class="table-row" ng-repeat="item in foodmenu" ng-if='item.type == "breakfast"'>
                <div class="title-food">{{item.name}}</div>
                <div class="col price">{{item.price | currency}}</div>
                <div class="note" ng-if="item.note != ''">{{item.note}}</div>
            </div>
            <img class="img-responsive menu-image show-for-large-up" src="assets/breakfast-bagel.jpg" alt="JitterBug Beverages -- go to menu.">
        </div>
        <div class="small-block-grid=1 large-block-grid=2">
            <div class="table-row-hr">
                <div class="title-food">Lunch</div>
                <div class="col price">Price</div>
                <div class="note">
                    All sandwiches include chips and your choice of onion, lettuce, tomato, mayo, mustard, cheese, served on sourdough, wheat, rye, or a bagel. Add a bowl of delicious soup to any sandwich for $2.50.
                </div>
            </div>
            <div class="table-row" ng-repeat="item in foodmenu" ng-if='item.type == "lunch"'>
                <div class="title-food">{{item.name}}</div>
                <div class="col price">{{item.price | currency}}</div>
                <div class="note" ng-if="item.note != ''">{{item.note}}</div>
            </div>
            <img class="img-responsive menu-image show-for-large-up" src="assets/coffee-n-sandwich.jpg" alt="JitterBug Beverages -- go to menu.">
        </div>
        <div class="small-block-grid=1 large-block-grid=2">
            <div class="table-row-hr">
                <div class="title-food">House Specialty Sandwiches</div>
                <div class="col price">Price</div>
                <div class="note"></div>
            </div>
            <div class="table-row" ng-repeat="item in foodmenu" ng-if='item.type == "specialty-sandwiches"'>
                <div class="title-food">{{item.name}}</div>
                <div class="col price">{{item.price | currency}}</div>
                <div class="note" ng-if="item.note != ''">{{item.note}}</div>
            </div>
            <img class="img-responsive menu-image show-for-large-up" src="assets/reuben.jpg" alt="JitterBug Beverages -- go to menu.">
        </div>
        <div class="small-block-grid=1 large-block-grid=2">
            <div class="table-row-hr">
                <div class="title-food">Other</div>
                <div class="col price">Price</div>
                <div class="note"></div>
            </div>
            <div class="table-row" ng-repeat="item in foodmenu" ng-if='item.type == "other"'>
                <div class="title-food">{{item.name}}</div>
                <div class="col price">{{item.price | currency}}</div>
                <div class="note" ng-if="item.note != ''">{{item.note}}</div>
            </div>
            <img class="img-responsive menu-image show-for-large-up" src="assets/nachos.jpg" alt="JitterBug Beverages -- go to menu.">
        </div>
    </div>
</div>
