<div ng-controller="BeveragesCtrl">
    <div>
        <h2 class="text-center">Beverages Menu</h2>
        <p class="text-center"><i>Ask about our non-dairy options</i></p>
    </div>
    <!-- <accordion close-others="oneAtATime">
        <accordion-group heading="Coffee / Espresso" is-open="true"> -->
                <div class="table-row-hr">
                    <div class="title">Coffee / Espresso</div>
                    <div class="meta-data">
                        <div class="col price12">12 oz</div>
                        <div class="col price16">16 oz</div>
                        <div class="col price20">20 oz</div>
                        <div class="col price24">24 oz</div>
                    </div>
                </div>
                <div class="table-row" ng-repeat="beverage in beverages" ng-if='beverage.type == "coffee"'>
                    <div class="title">{{beverage.name}}</div>
                    <div class="meta-data">
                        <div class="col price12">{{beverage.size12}}</div>
                        <div class="col price16">{{beverage.size16}}</div>
                        <div class="col price20">{{beverage.size20}}</div>
                        <div class="col price24">{{beverage.size24}}</div>
                    </div>
                    <div class="note" ng-if="beverage.note != ''">{{beverage.note}}</div>
                </div>
        <!-- </accordion-group>
        <accordion-group heading="Tea" is-open="false"> -->
                <div class="table-row-hr">
                    <div class="title">Tea</div>
                    <div class="meta-data">
                        <div class="col price12">12 oz</div>
                        <div class="col price16">16 oz</div>
                        <div class="col price20">20 oz</div>
                        <div class="col price24">24 oz</div>
                    </div>
                </div>
                <div class="table-row" ng-repeat="beverage in beverages" ng-if='beverage.type == "tea"'>
                    <div class="title">{{beverage.name}}</div>
                    <div class="meta-data">
                        <div class="col price12">{{beverage.size12}}</div>
                        <div class="col price16">{{beverage.size16}}</div>
                        <div class="col price20">{{beverage.size20}}</div>
                        <div class="col price24">{{beverage.size24}}</div>
                    </div>
                    <div class="note" ng-if="beverage.note != ''">{{beverage.note}}</div>
                </div>
        <!-- </accordion-group>
        <accordion-group heading="Tea" is-open="false"> -->
                <div class="table-row-hr">
                    <div class="title">Shakes</div>
                    <div class="meta-data">
                        <div class="col price12">12 oz</div>
                        <div class="col price16">16 oz</div>
                        <div class="col price20">20 oz</div>
                        <div class="col price24">24 oz</div>
                    </div>
                </div>
                <div class="table-row" ng-repeat="beverage in beverages" ng-if='beverage.type == "shake"'>
                    <div class="title">{{beverage.name}}</div>
                    <div class="meta-data">
                        <div class="col price12">{{beverage.size12}}</div>
                        <div class="col price16">{{beverage.size16}}</div>
                        <div class="col price20">{{beverage.size20}}</div>
                        <div class="col price24">{{beverage.size24}}</div>
                    </div>
                    <div class="note" ng-if="beverage.note != ''">{{beverage.note}}</div>
                </div>
        <!-- </accordion-group>
        <accordion-group heading="Tea" is-open="false"> -->
                <div class="table-row-hr">
                    <div class="title">Blended Ice</div>
                    <div class="meta-data">
                        <div class="col price12">12 oz</div>
                        <div class="col price16">16 oz</div>
                        <div class="col price20">20 oz</div>
                        <div class="col price24">24 oz</div>
                    </div>
                </div>
                <div class="table-row" ng-repeat="beverage in beverages" ng-if='beverage.type == "blended-ice"'>
                    <div class="title">{{beverage.name}}</div>
                    <div class="meta-data">
                        <div class="col price12">{{beverage.size12}}</div>
                        <div class="col price16">{{beverage.size16}}</div>
                        <div class="col price20">{{beverage.size20}}</div>
                        <div class="col price24">{{beverage.size24}}</div>
                    </div>
                    <div class="note" ng-if="beverage.note != ''">{{beverage.note}}</div>
                </div>
        <!-- </accordion-group>
        <accordion-group heading="Tea" is-open="false"> -->
                <div class="table-row-hr">
                    <div class="title">Other Drinks</div>
                    <div class="meta-data">
                        <div class="col price12">12 oz</div>
                        <div class="col price16">16 oz</div>
                        <div class="col price20">20 oz</div>
                        <div class="col price24">24 oz</div>
                    </div>
                </div>
                <div class="table-row" ng-repeat="beverage in beverages" ng-if='beverage.type == "other"'>
                    <div class="title">{{beverage.name}}</div>
                    <div class="meta-data">
                        <div class="col price12">{{beverage.size12}}</div>
                        <div class="col price16">{{beverage.size16}}</div>
                        <div class="col price20">{{beverage.size20}}</div>
                        <div class="col price24">{{beverage.size24}}</div>
                    </div>
                    <div class="note" ng-if="beverage.note != ''">{{beverage.note}}</div>
                </div>
        <!-- </accordion-group>
    </accordion> -->
    <h4>Latte, Steamer, and Italian Soda Flavors:</h4>
    <p>Vanilla, Hazelnut, Amaretto, Caramel, Almond, Mint, Orange, Raspberry, Cherry, Toasted Marshmallow, Mango, Lime, Blackberry, Lemon, Boysenberry, Peach, Blueberry, Strawberry, Coconut, Tiramisu, Almond Roca, Butterscotch, Cinnamon, Pumpkin Spice, Butter Rum & Irish Cream.</p>
</div>
