
<div ng-controller="FoodCtrl">
    <div>
    <h2 class="text-center">Food Menu</h2>
    <h3 class="text-center">Not Finished Yet</h3>
    <p>Ask about our vegetarian, vegan, and gluten-free options</p>
    </div>
    <!-- <accordion close-others="oneAtATime">
        <accordion-group heading="Pastries" is-open="true"> -->
                <div class="table-row-hr">
                    <div class="title">Pastries</div>
                    <div class="meta-data">
                        <div class="col price">Price</div>
                    </div>
                    <div class="note">
                    </div>
                </div>
                <div class="table-row" ng-repeat="item in foodmenu" ng-if='item.type == "pastries"'>
                    <div class="title">{{item.name}}</div>
                    <div class="meta-data">
                        <div class="col price">{{item.price | currency}}</div>
                    </div>
                    <div class="note">{{item.note}}</div>
                </div>
        <!-- </accordion-group>
        <accordion-group heading="Breakfast" is-open="true"> -->
                <div class="table-row-hr">
                    <div class="title">Breakfast</div>
                    <div class="meta-data">
                        <div class="col price">Price</div>
                    </div>
                    <div class="note">
                    </div>
                </div>
                <div class="table-row" ng-repeat="item in foodmenu" ng-if='item.type == "breakfast"'>
                    <div class="title">{{item.name}}</div>
                    <div class="meta-data">
                        <div class="col price">{{item.price | currency}}</div>
                    </div>
                    <div class="note">{{item.note}}</div>
                </div>
        <!-- </accordion-group>
        <accordion-group heading="Lunch" is-open="true"> -->
                <div class="table-row-hr">
                    <div class="title">Lunch</div>
                    <div class="meta-data">
                        <div class="col price">Price</div>
                    </div>
                    <div class="note">
                        All sandwiches include chips and your choice of onion, lettuce, tomato, mayo, mustard, cheese, served on sourdough, wheat, or a bagel. Add a bowl of delicious soup to any sandwich for $2.50.
                    </div>
                </div>
                <div class="table-row" ng-repeat="item in foodmenu" ng-if='item.type == "lunch"'>
                    <div class="title">{{item.name}}</div>
                    <div class="meta-data">
                        <div class="col price">{{item.price | currency}}</div>
                    </div>
                    <div class="note">{{item.note}}</div>
                </div>
        <!-- </accordion-group>
        <accordion-group heading="House Specialty Sandwiches" is-open="true"> -->
                <div class="table-row-hr">
                    <div class="title">House Specialty Sandwiches</div>
                    <div class="meta-data">
                        <div class="col price">Price</div>
                    </div>
                    <div class="note">
                    </div>
                </div>
                <div class="table-row" ng-repeat="item in foodmenu" ng-if='item.type == "specialty-sandwiches"'>
                    <div class="title">{{item.name}}</div>
                    <div class="meta-data">
                        <div class="col price">{{item.price | currency}}</div>
                    </div>
                    <div class="note">{{item.note}}</div>
                </div>
        <!-- </accordion-group>
        <accordion-group heading="Other" is-open="true"> -->
                <div class="table-row-hr">
                    <div class="title">Other</div>
                    <div class="meta-data">
                        <div class="col price">Price</div>
                    </div>
                    <div class="note">
                    </div>
                </div>
                <div class="table-row" ng-repeat="item in foodmenu" ng-if='item.type == "other"'>
                    <div class="title">{{item.name}}</div>
                    <div class="meta-data">
                        <div class="col price">{{item.price | currency}}</div>
                    </div>
                    <div class="note">{{item.note}}</div>
                </div>
        <!-- </accordion-group>
    </accordion> -->
    <h4>Latte, Steamer, and Italian Soda Flavors:</h4>
    <p>Vanilla, Hazelnut, Amaretto, Caramel, Almond, Mint, Orange, Raspberry, Cherry, Toasted Marshmallow, Mango, Lime, Blackberry, Lemon, Boysenberry, Peach, Blueberry, Strawberry, Coconut, Tiramisu, Almond Roca, Butterscotch, Cinnamon, Pumpkin Spice, Butter Rum & Irish Cream.</p>
</div>
