<div>
    <h2 class="text-center">A Lot More Than Just Coffee</h2>
    <p>
        A uniquely modern retro atmosphere featuring tasty espresso based
        beverages, smoothies, root beer floats, hot chocolate, Italian sodas,
        an assortment of teas, sandwiches, soups, the most fattening pastries
        on the planet, and of course... coffee so fresh it should be slapped.<br><br>
        Get the bug and check out the hippest hop in the neighborhood... <em>JitterBug Coffee Hop!</em>
    </p>
    <div class="row small-collapse medium-uncollapse">
        <div class="small-12 large-6 large-centered xlarge-4  xlarge-uncentered columns">
            <a href="#"><img class="img-responsive" src="assets/5930.JPG" alt="JitterBug Coffee Hop, LLC">
            <h4 class="text-center">Beverages</h4>
            <p>
                Coffee, Tea, and Shakes -- Oh My!
                Hand-crafted Latte's and many other delights.
            </p></a>
        </div>
        <div class="small-12 large-6 large-centered xlarge-4  xlarge-uncentered columns">
            <a href="#"><img class="img-responsive" src="assets/5917.JPG" alt="JitterBug Coffee Hop, LLC" border=1>
            <h4 class="text-center">Delicious Food</h4>
            <p>
                Best nachos in town. Yummy sammiches and other treats.
            </p></a>
        </div>
        <div class="small-12 large-6 large-centered xlarge-4  xlarge-uncentered columns">
            <a href="#"><img class="img-responsive" src="assets/5860.JPG" alt="JitterBug Coffee Hop, LLC" border=1>
            <h4 class="text-center">Visit Us</h4>
            <p>
                We're located at 1855 South 700 East, Salt Lake City, Utah 84106.
            </p></a>
        </div>
    </div>
</div>
