<div>
    <h2 class="text-center">A Lot More Than Just Coffee</h2>
    <p class="text-center">
        A uniquely modern retro atmosphere featuring tasty espresso based
        beverages, smoothies, root beer floats, hot chocolate, Italian sodas,
        an assortment of teas, sandwiches, soups, the most fattening pastries
        on the planet, and of course... coffee so fresh it should be slapped.<br><br>
        Get the bug and check out the hippest hop in the neighborhood... <em>JitterBug Coffee Hop!</em>
    </p>
    <div class="row small-collapse medium-uncollapse" data-equalizer data-equalizer-mq="medium-up">
        <div class="small-12 large-6 large-centered xlarge-4  xlarge-uncentered columns" data-equalizer-watch>
            <a ui-sref="beveragesMenu"><img class="img-responsive" src="assets/cup-of-jitterbug.jpg" alt="JitterBug Beverages -- go to menu.">
            <h4 class="text-center">Beverages</h4>
            <p class="text-center">
                Coffee, Tea, and Shakes -- Oh My!
                Hand-crafted Latte's and many other delights.
            </p></a>
        </div>
        <div class="small-12 large-6 large-centered xlarge-4  xlarge-uncentered columns" data-equalizer-watch>
            <a ui-sref="foodMenu"><img class="img-responsive" src="assets/coffee-n-sandwich.jpg" alt="JitterBug Food Selections -- go to menu.">
            <h4 class="text-center">Delicious Food</h4>
            <p class="text-center">
                Best nachos in town. Yummy sammiches and other treats.
            </p></a>
        </div>
        <div class="small-12 large-6 large-centered xlarge-4  xlarge-uncentered columns" data-equalizer-watch>
            <a ui-sref="mapToUs"><img class="img-responsive" src="assets/store-front-small.jpg" alt="Visit us at 1855 South 700 East, Salt Lake City, Utah 84106">
            <h4 class="text-center">Visit Us</h4>
            <p class="text-center">
                We're located at 1855 South 700 East, Salt Lake City, Utah 84106.
            </p></a>
        </div>
    </div>
</div>
