<h2 class="text-center">Address and Map</h2>
<p class="text-center"><i>Look for us on the east side of 700 East in between Classic Cleaners and Dirks Fine Dry Cleaning.</i></p>
<div class="row">
    <a href="http://maps.google.com/maps?q=Jitterbug+Coffee+Hop+Salt Lake City+UT+84106" target="_blank">
        <div class="small-12 large-6 columns">
            <p class="text-center"><strong>Find us at 1855 S 700 E, Salt Lake City, UT 84106. <br></strong></p>
            <p>
                    <img class="img-responsive" src="assets/store-front-small.png" alt="Image of store front."><br>
                    <br>
            </p>
        </div>
        <div class="small-12 large-6 columns">
            <p class="text-center"><strong>Click the map to open in Google Maps or mobile app</strong></p>
        	<p>
                    <img class="img-responsive" src="assets/map.png" alt="Map to Jitterbug Coffee Shop on 1855 South, 700 East, Salt Lake City Utah"><br>
                    <br>
            </p>
        </div>
    </a>
</div>
